[submodule "party-spies-front"]
	path = party-spies-front
	url = https://github.com/SmVynt/party-spies-front.git
[submodule "party-spies-back"]
	path = party-spies-back
	url = https://github.com/SmVynt/party-spies-back.git
